<div class="navbar__overlay" (click)="closeNavbar()"></div>

<nav class="navbar">
	<ul class="navbar__menu">
		<li class="navbar__menu-item navbar__menu-item--close">
			<button class="navbar__close" (click)="closeNavbar()">
				<span class="screen-reader">Close</span>
			</button>
		</li>

		<li class="navbar__menu-item">
			<a class="navbar__link" routerLink="empresa" routerLinkActive="navbar__link--active" (click)="closeNavbar()"
				>Empresa</a
			>
		</li>
		<li class="navbar__menu-item">
			<a
				class="navbar__link"
				routerLink="servicos"
				routerLinkActive="navbar__link--active"
				(click)="closeNavbar()"
				>Serviços</a
			>
		</li>
		<li class="navbar__menu-item">
			<a
				class="navbar__link"
				routerLink="orcamentos"
				routerLinkActive="navbar__link--active"
				(click)="closeNavbar()"
				>Orçamentos</a
			>
		</li>
		<li class="navbar__menu-item">
			<a
				class="navbar__link"
				routerLink="noticias"
				routerLinkActive="navbar__link--active"
				(click)="closeNavbar()"
				>Notícias</a
			>
		</li>
		<li class="navbar__menu-item">
			<a
				class="navbar__link"
				routerLink="contactos"
				routerLinkActive="navbar__link--active"
				(click)="closeNavbar()"
				>Contactos</a
			>
		</li>
	</ul>
</nav>
