<!-- Checkbox -->
<div class="input input--checkbox" [formGroup]="formGroup">
	<input
		class="input__field"
		type="checkbox"
		[name]="controlName"
		[id]="controlName"
		placeholder="{{ inputPlaceholder }}"
		[formControlName]="controlName"
		[value]="true"
	/>
	<div class="input__text-wrapper">
		<label class="input__label" [for]="controlName">{{ inputLabel }}</label>
		<p class="input__hint" *ngIf="inputHint && _inputService.fieldIsInvalid(formGroup.controls[controlName])">
			{{ inputHint }}
		</p>
	</div>
</div>
