<div class="page-services">
	<header class="page-services__header">
		<div class="container-full container-xl">
			<h1 class="page-services__title">O nosso estilo de vida:</h1>
			<p class="page-services__subtitle">
				H2H !<br>
				Responsabilizamo-nos com a experiência !<br>
				Orientamo-nos pelo princípio e crença do rigor !<br>
				Olhámos para os desafios de um ângulo diferente !<br>
				Dá-mos sempre o máximo e o melhor de nós próprios !
			</p>
		</div>
	</header>
	<main class="page-services__plans-wrapper">
		<!-- Plans -->
		<ng-container *ngIf="plans.length > 0">
			<app-plan [plan]="plan" *ngFor="let plan of plans"></app-plan>
		</ng-container>
	</main>
	<footer class="page-services__footer container-full">
		<blockquote class="page-services__quote">
			<p class="page-services__quote-text">Existe uma grande diferença entre saltar de um avião munido de paraquedas e saltar sem paraquedas.
				Ambos produzem experiências extraordinárias, mas só um aumenta a probabilidade de ser capaz de tentar mais uma vez. </p>
			<cite class="page-services__quote-author">Simon Sinek</cite>
		</blockquote>
	</footer>
</div>
