<main class="page-company">
	<header class="page-company__header">
		<div class="container-full container-xl">
			<h1 class="page-company__title">Quando sentimos que pertencemos, sentimo-nos ligados e sentimo-nos seguros!</h1>
		</div>
		<!--src="/assets/page-company/company-banner@2x.jpg"-->
					<!--srcset="
				/assets/page-company/company-banner@1x.jpg  720w,
				/assets/page-company/company-banner@2x.jpg 1440w,
				/assets/page-company/company-banner@3x.jpg 2880w
			"
			sizes="100vw"
		-->

		<img
			class="page-company__image"
			src="/assets/page-company/company.jpg"
			alt="Cidade vista do topo de um prédio"
		/>
	</header>
	<section class="page-company__content">
		<div class="container-full">
			<p class="page-company__text">
				SHL OXYGEN é uma empresa de serviços de higiene e limpeza profissional que têm como foco apresentar soluções ás necessidades, exigências e expectativas dos clientes.
			</p>
			<p class="page-company__text">
				Na concretização do nosso propósito e no sucesso da empresa, apostámos fortemente no desenvolvimento autêntico das relações com os nossos parceiros e trabalhamos sempre através da customização e da cocriação dos serviços na incessante procura e criação das melhores experiências.
			</p>
			<p class="page-company__text">
				Apostámos fortemente na realização pessoal e profissional dos nossos profissionais porque sabemos que, se estiverem felizes, garantirão parceiros felizes, e nesse sentido desenvolvemos a nossa actividade com o máximo de rigor conforme as directrizes da Organização Mundial da Saúde, das normas de saúde e segurança do trabalho e no escrupuloso cumprimento e conformidade legal, procurando sempre consolidar o prestígio alcançado e melhorar consecutivamente os benefícios das nossas soluções.
			</p>
			<p class="page-company__text">
				Ao longo destes 22 anos de existência, sabemos como criar o seu conforto.
			</p>
			<p class="page-company__text">
				<strong>O nosso propósito</strong>
			</p>
			<p class="page-company__text">
				Nós fazemos o que fazemos porque … <br>
				Acreditamos nas pessoas !<br>
				Temos a imperturbável paixão do optimismo !<br>
				Tudo o que fazemos é com a convicção de recrudescer activamente o seu conforto !<br>
				Junte-se a nós a exprimir o autêntico significado da confiança e do bem-estar !
			</p>
			<p class="page-company__text">
				<strong>O nosso mantra</strong>
			</p>
			<p class="page-company__text">
				Nosso compromisso, soluções !
			</p>
		</div>
	</section>
	<app-cta
		[title]="'Já conhece os nossos serviços?'"
		[text]="'Adaptados às suas necessidades'"
		[buttonLabel]="'Conheça-os agora'"
		[buttonRoute]="'/servicos'"
	></app-cta>
</main>
