@import "../utils/scss/variables.scss";
@import "../utils/scss/px-to-rem.scss";
@import "../utils/scss/mixins.scss";

.page-company {
}

.page-company__header {
	position: relative;
	text-align: center;
	padding: rem(64) 0;
	overflow: hidden;

	@media ($md) {
		padding: rem(140) 0;
	}
}

.page-company__title {
	@include heading-hero();

	padding: 0 5vw;

	@media ($md) {
		padding: 0 13vw;
	}

	@media ($lg) {
		padding: 0 10vw;
	}
}

.page-company__subtitle {
	font-size: $font-size-h5-sm;
	font-weight: $font-weight-normal;
	line-height: rem(13);
	letter-spacing: 2px;
	text-transform: uppercase;
	color: fade-out($color: $color-heading, $amount: 0.25);

	@media ($md) {
		font-size: $font-size-h5-md;
	}

	@media ($lg) {
		font-size: $font-size-h5-lg;
		line-height: rem(20);
		letter-spacing: 3.2px;
	}
}

.page-company__image {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100vw;
	opacity: 0.6;

	@media ($md) {
		opacity: 1;
	}
}

.page-company__content {
	@include page-content();
}

.page-company__text {
	@include body-text();

	margin-bottom: 1.3em;
}
