@import "../utils/scss/variables.scss";
@import "../utils/scss/px-to-rem.scss";
@import "../utils/scss/mixins.scss";

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: fade-out($color: $color-text, $amount: 0.75);
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: fade-out($color: $color-text, $amount: 0.75);
}

.input {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: rem(24);
}

.input__label {
	@include body-tiny();

	margin-bottom: rem(8);
	color: $color-text;
}

.input__field {
	@include body-text();
	@include input-field();
}

.input__hint {
	@include body-tiny();

	margin-top: rem(4);
}
