<main class="page-home">
	<div class="page-home__wrapper container-full container-xl">
		<div class="row">
			<div class="page-home__text-wrapper col-9-m col-7-l col-12">
				<h1 class="page-home__heading">
					Higiene e limpeza profissional.
				</h1>
				<p class="page-home__text">
					Desde 1997 que temos a clara convicção que agimos para encontrar o equilíbrio, um estilo de vida… <br>
					Inspiramos as pessoas a participar e a promover o bem estar! <br>
					Trabalhamos todos em conjunto: é esse o segredo.
				</p>
			</div>
		</div>
		<img
			class="page-home__image"
			src="/assets/page-home/home-background@2x.png"
			alt="Planta em jarro com água"
			srcset="
				/assets/page-home/home-background@1x.png  720w,
				/assets/page-home/home-background@2x.png 1440w,
				/assets/page-home/home-background@3x.png 2880w
			"
			sizes="(min-width: 768px) 1500px, 790px"
		/>
	</div>
</main>
