@import "../utils/scss/variables.scss";
@import "../utils/scss/px-to-rem.scss";
@import "../utils/scss/mixins.scss";

.cta {
	padding: rem(40) 0;
	border-top: 1px solid $color-border;
	text-align: center;

	@media ($md) {
		padding: rem(60) 0;
	}

	@media ($lg) {
		padding: rem(90) 0;
	}
}

.cta__title {
	font-size: $font-size-h3-sm;
	font-weight: $font-weight-bold;
	line-height: rem(21);
	margin-bottom: rem(6);

	@media ($md) {
		font-size: $font-size-h3-md;
		line-height: rem(23);
		margin-bottom: rem(8);
	}

	@media ($lg) {
		font-size: $font-size-h3-lg;
		line-height: rem(31);
		margin-bottom: rem(10);
	}
}

.cta__text {
	font-size: $font-size-text-medium;
	line-height: rem(18);
	font-weight: $font-weight-normal;
	margin-bottom: rem(24);

	@media ($md) {
		font-size: $font-size-text;
		line-height: rem(19);
		margin-bottom: rem(40);
	}

	@media ($md) {
		font-size: $font-size-text-bigger;
		line-height: rem(23);
	}
}

.cta__button {
	@include button-base();

	&:hover,
	&:active {
		background-color: $color-brand;
		color: $color-light-yellow;
	}
}
