<div class="page-contacts">
	<header class="page-contacts__header">
		<div class="container-full container-m">
			<h1 class="page-contacts__title">Contactos</h1>
			<p class="page-contacts__subtitle">
				<a
					class="page-contacts__link"
					href="https://goo.gl/maps/8owbg6en32P2"
					target="_blank"
					rel="noopener noreferrer"
					>Av. Marechal Gomes da Costa, 205 <br />
					4465-158 São Mamede Infesta</a
				>
			</p>
			<p class="page-contacts__contacts">
				<a class=".page-contacts__email-link" href="mailto:info@shloxygen.com">info@shloxygen.com</a>
				<a class="page-contacts__link" href="tel:+351229060870">229 060 870</a>
				<a class="page-contacts__link" href="tel:+351229060871">229 060 871</a>
				<a class="page-contacts__link" href="tel:+351938558">938 457 558</a>
			</p>
		</div>
		<div class="page-contacts__map-wrapper">
			<a class="page-contacts__map-link" href="https://goo.gl/maps/8owbg6en32P2" target="_blank" rel="noopener noreferrer"
				><img
					src="/assets/page-contacts/google-maps.png"
					alt="Google Maps Screenshot"
					class="page-contacts__map"
			/></a>
		</div>
	</header>
	<section class="page-contacts__cta">
		<app-cta
			[title]="'Junte-se a nós'"
			[text]="'Consiga o ponto de viragem para a evolução clara da sua força e energia. Desafiamos a serem positivamente melhores e felizes. Venha!'"
			[buttonLabel]=""
			[buttonRoute]=""
		></app-cta>
	</section>
	<main class="page-contacts__form-wrapper">
		<div class="container-full container-m">
			<form>
				<app-input
					inputType="text"
					inputLabel="Nome"
					inputPlaceholder="Inserir nome"
					[formGroup]="contactForm"
					controlName="name"
					inputHint="Campo obrigatório"
				></app-input>
				<app-input
					inputType="text"
					inputLabel="Morada"
					inputPlaceholder="Inserir morada"
					[formGroup]="contactForm"
					controlName="address"
					inputHint="Campo obrigatório"
				></app-input>
				<app-input
					inputType="text"
					inputLabel="Código Postal"
					inputPlaceholder="Inserir código postal(Ex: 4000-1000)"
					[formGroup]="contactForm"
					controlName="postalCode"
					inputHint="Campo obrigatório"
				></app-input>
				<app-input
					inputType="text"
					inputLabel="Localidade"
					inputPlaceholder="Inserir localidade"
					[formGroup]="contactForm"
					controlName="local"
					inputHint="Campo obrigatório"
				></app-input>
				<app-input
					inputType="tel"
					inputLabel="Telefone"
					inputPlaceholder="Inserir número de telefone"
					[formGroup]="contactForm"
					controlName="phone"
					inputHint="Formato: 9 dígitos, exemplo: 229060870"
				></app-input>
				<app-input
					inputType="email"
					inputLabel="E-mail"
					inputPlaceholder="Inserir email"
					[formGroup]="contactForm"
					controlName="email"
					inputHint="Formato: info@shloxygen.com"
				></app-input>
				<app-input
					inputType="text"
					inputLabel="Assunto"
					inputPlaceholder="Inserir assunto"
					[formGroup]="contactForm"
					controlName="subject"
					inputHint="Campo obrigatório"
				></app-input>
				<app-input-textarea
					inputLabel="Mensagem"
					inputPlaceholder="Deixe aqui a sua mensagem…"
					[formGroup]="contactForm"
					controlName="message"
				></app-input-textarea>
				<app-input-select
					inputLabel="Tipo de candidatura"
					inputPlaceholder="Selecione uma opção"
					[formGroup]="contactForm"
					controlName="candidatura"
					inputHint="Campo obrigatório"
				>
					<option value="profissional de limpeza">Profissional de limpeza</option>
					<option value="lavador de vidros">Lavador de Vidros</option>
					<option value="supervisor(a)">Supervisor(a)</option>
					<option value="comercial">Comercial</option>
					<option value="assistente administrativa">Assistente Administrativa</option>
				</app-input-select>


				<app-input-select
					inputLabel="Situação Atual"
					inputPlaceholder="Selecione uma opção"
					[formGroup]="contactForm"
					controlName="situacaoActual"
					inputHint="Campo obrigatório"
				>
					<option value="empregado">Empregado(a)</option>
					<option value="desempregado">Desempregado(a)</option>
				</app-input-select>

				<app-input-textarea
					inputLabel="Caso empregado, onde e horário"
					inputPlaceholder="Inserir situação profissional atual…"
					[formGroup]="contactForm"
					controlName="ondetrabalha"
				></app-input-textarea>




				<app-input
					inputType="text"
					inputLabel="Disponibilidade de horário"
					inputPlaceholder="Inserir disponibilidade de horário"
					[formGroup]="contactForm"
					controlName="schedule"
					inputHint="Campo obrigatório"
				></app-input>
				<app-input
					inputType="text"
					inputLabel="Habilitações literárias"
					inputPlaceholder="Inserir habilitações literárias"
					[formGroup]="contactForm"
					controlName="literarias"
					inputHint="Campo obrigatório"
				></app-input>
				<app-input-textarea
					inputLabel="Experiência Profissional: Serviços de Limpeza"
					inputPlaceholder="Inserir experiência em serviços de limpeza…"
					[formGroup]="contactForm"
					controlName="expProfServLimpeza"
				></app-input-textarea>
				<app-input-textarea
					inputLabel="Experiência Profissional: Outros Serviços"
					inputPlaceholder="Inserir experiência noutros serviços…"
					[formGroup]="contactForm"
					controlName="expProfServOutros"
				></app-input-textarea>


				<app-input-checkbox
					inputLabel="Ao enviar este formulário estará a consentir que a SHL OXYGEN recolha e processe os dados acima inseridos."
					[formGroup]="contactForm"
					controlName="agreement"
					inputHint="Campo obrigatório"
				></app-input-checkbox>

				<app-form-submit
					buttonLabel="Enviar"
					[statusMessage]="status"
					[formIsLoading]="isLoading"
					(onClickButton)="submit()"
					[formIsValid]="contactForm.valid"
				></app-form-submit>
			</form>
		</div>
	</main>
</div>
